@font-face {
  font-family: "TT Lakes Regular";
  src: url("/fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url("/fonts/TTLakes-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "TT Lakes Bold";
  src: url("/fonts/TTLakes-Bold.ttf") format("truetype");
  font-style: bold;
  font-weight: normal;
}
body {
  font-family: "TT Lakes Regular", Arial, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #F8F8F8;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-header__icon {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  padding: 10px 20px;
}

.round-icon {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.round-icon--burger {
  background-image: url("/public/images/burger.svg");
}
.round-icon--repair {
  background-image: url("/public/images/repair.svg");
}
@media (min-width: 1440px) {
  .round-icon--repair {
    vertical-align: middle;
    display: inline-block;
  }
}
.round-icon--checkstatus {
  background-image: url("/public/images/checkstatus.svg");
}
@media (min-width: 1440px) {
  .round-icon--checkstatus {
    vertical-align: middle;
    display: inline-block;
  }
}
.round-icon--menu {
  background-image: url("/public/images/menu.svg");
}
.round-icon--search {
  background-image: url("/public/images/search.svg");
}
.round-icon--call {
  background-image: url("/public/images/call.svg");
}
.round-icon--chat {
  background-image: url("/public/images/chat.svg");
}
.round-icon--profile {
  background-image: url("/public/images/chat.svg");
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 15px;
  background-color: white;
  border-bottom: 1px solid #d9fff5;
}
@media (min-width: 1440px) {
  .page-header {
    display: none;
  }
}
.page-header__left-section {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media (min-width: 768px) {
  .page-header__left-section {
    position: relative;
    gap: 40px;
    flex-grow: 1;
  }
  .page-header__left-section:after {
    content: "";
    left: 60px;
    top: 12px;
    position: absolute;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
  }
}
.page-header__mobile-hidden {
  display: none;
}
@media (min-width: 768px) {
  .page-header__mobile-hidden {
    display: flex;
    gap: 15px;
  }
}
.page-header__right-section {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}
.page-header__right-section:before {
  content: "";
  left: -20px;
  top: 5px;
  position: absolute;
  width: 2px;
  height: 32px;
  background-color: #EAEAEA;
}

.page-header__logo {
  width: 100px;
  height: 55px;
}

.aside {
  font-family: "TT Lakes Medium", Arial, sans-serif;
  width: 320px;
  display: flex;
  margin: 0;
  flex-direction: column;
  min-height: 100vh;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: white;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  overflow-y: scroll;
  scrollbar-width: none;
}
@media (min-width: 768px) {
  .aside {
    transform: translateX(-100%);
  }
}
@media (min-width: 1440px) {
  .aside {
    transform: translateX(0);
    box-shadow: none;
    z-index: auto;
  }
}
.aside.active {
  transform: translateX(0);
}
.aside__mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
  list-style-type: none;
  padding-top: 20px;
  margin: 0;
  gap: 30px;
}
.aside__mobile-menu-link {
  text-decoration: none;
  color: #1B1C21;
  border: 4px solid transparent;
  font-weight: 500;
  padding-left: 15px;
  flex-grow: 1;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  transition: color 0.3s ease;
}
.aside__mobile-menu-link:hover {
  border-left: 4px solid #41F6D7;
  color: #7E7E82;
  padding-left: 15px;
}

.aside-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.aside-overlay.active {
  opacity: 1;
  visibility: visible;
}

.aside-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 15px;
}

.aside-footer {
  margin-top: auto;
}
.aside-footer__icons {
  display: flex;
  padding: 15px;
  gap: 15px;
}
.aside-footer__content-email {
  padding-left: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.aside-footer__content-phone {
  padding-left: 15px;
  font-family: "TT Lakes Regular", Arial, sans-serif;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
}
.aside-footer__content-lang {
  display: flex;
  padding: 15px;
  gap: 15px;
}
.aside-footer__content-lang_active {
  color: #7E7E82;
}

.main {
  background-color: #F8F8F8;
  box-sizing: border-box;
}
@media (min-width: 1440px) {
  .main {
    margin-left: 320px;
  }
}
.main__nav {
  margin-bottom: 10px;
}
.main__scroll-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  gap: 15px;
  padding: 15px;
  margin: 0;
  overflow-x: scroll;
  scrollbar-width: none;
}
@media (min-width: 1440px) {
  .main__scroll-menu {
    flex-wrap: wrap;
    overflow-x: clip;
    margin: 0;
  }
}
.main__scroll-menu-link {
  text-decoration: none;
  color: #7E7E82;
  padding: 10px;
  border: 2px solid transparent;
}
.main__scroll-menu-link:hover {
  border: 2px solid #41F6D7;
  border-radius: 5px;
  background-color: white;
}
@media (min-width: 768px) {
  .main__scroll-menu-link_desktop {
    display: none;
  }
}

.main__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin: 0 15px;
}
.main__text-content {
  height: 100px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .main__text-content {
    height: 140px;
    overflow: hidden;
  }
}
@media (min-width: 1440px) {
  .main__text-content {
    height: 160px;
    overflow: hidden;
    padding-left: 5px;
  }
}
.main__text-more {
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding: 10px;
}
@media (min-width: 1440px) {
  .main__text-more {
    display: block;
    margin: 10px;
  }
}
.main__text-more:before {
  content: url("/public/images/icon.svg");
  display: inline-block;
  padding-right: 15px;
  vertical-align: middle;
}

.main__image {
  width: 100%;
}
@media (min-width: 768px) {
  .main__image {
    max-width: 360px;
    max-height: 208px;
    margin: 15px 25px 10px 30px;
    border-radius: 2%;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .main__image {
    max-width: 535px;
    max-height: 385px;
    margin: 0 20px 0 30px;
    border-radius: 1%;
  }
}

@media (min-width: 768px) {
  .main__container {
    display: flex;
  }
}
.main-header {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}
.main-header__h1 {
  font-family: "TT Lakes Bold", Arial, sans-serif;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  padding: 15px;
  margin: 0;
  position: relative;
}
.main-header__h1:before {
  content: " ";
  position: absolute;
  left: -1px;
  width: 5px;
  height: 40px;
  background-color: #41F6D7;
  border-radius: 30%;
}
.main-header__icons {
  display: none;
}
@media (min-width: 1440px) {
  .main-header__icons {
    display: flex;
    align-items: center;
    font-family: "TT Lakes Medium", Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
  }
}

.sliders {
  display: none;
}
@media (min-width: 768px) {
  .sliders {
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex-wrap: wrap;
    gap: 15px 30px;
    padding: 15px;
    max-height: 170px;
    overflow: hidden;
  }
}
@media (min-width: 1440px) {
  .sliders {
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex-wrap: wrap;
    gap: 15px 35px;
    padding: 20px;
    max-height: 250px;
    overflow: hidden;
    border: 2px solid transparent;
  }
}

.slider-container {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
}
.slider-container__mobile-hidden {
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .slider-container__mobile-hidden {
    display: none;
  }
}
@media (min-width: 1440px) {
  .slider-container__mobile-hidden {
    display: none;
  }
}

.slider-title {
  background: linear-gradient(90deg, #F8F8F8 1.39%, white 100%);
  margin: 0;
  border-top: 1px solid #d9fff5;
}
.slider-title__h2 {
  font-family: "TT Lakes Regular", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7E7E82;
  padding: 20px;
  margin: 0;
}

.slider-brands {
  width: 224px;
  height: 72px;
}
@media (min-width: 1440px) {
  .slider-brands {
    width: 240px;
    height: 72px;
  }
}
.slider-brands:hover {
  outline: 2px solid #41F6D7;
  border-radius: 3%;
}
@media (min-width: 1440px) {
  .slider-brands:hover {
    outline: 2px solid #41F6D7;
    border-radius: 4%;
  }
}
.slider-brands--unvisible-laptop {
  display: none;
}
.slider-brands--img {
  width: 224px;
  height: 72px;
}
@media (min-width: 1440px) {
  .slider-brands--img {
    width: 240px;
    height: 72px;
  }
}

.slider-text {
  display: none;
}
@media (min-width: 768px) {
  .slider-text {
    display: inline-block;
    border: none;
    background-color: transparent;
    font-family: "TT Lakes Medium", Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .slider-text {
    display: inline-block;
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    padding-left: 40px;
  }
}
.slider-text:before {
  content: url("/public/images/icon.svg");
  display: inline-block;
  padding-right: 15px;
  vertical-align: middle;
}

.swiper {
  padding: 20px;
  height: 90px;
  margin: 0;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
}
.swiper-slide {
  width: 240px;
  height: 72px;
  overflow: hidden;
  border: 1px solid transparent;
}
.swiper-slide:hover {
  border: 1px solid #41F6D7;
}
.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0;
}
.swiper-pagination-bullet {
  background-color: #dddddd;
  width: 12px;
  height: 12px;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #b5b6bc;
}
@media (min-width: 768px) {
  .swiper {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */