$color-primary: #41F6D7;
$color-border: #EAEAEA;
$color-text: #1B1C21;
$color-light-text: #7E7E82;
$color-bg: #F8F8F8;

$font-size-base: 16px;
$line-height-base: 1.5;

$screen-md: 768px;
$screen-lg: 1440px;