@use "../global/variables" as *;
@use "../global/base" as *;


.aside {
  font-family: $ff-medium;
  width: 320px;
  display: flex;
  margin: 0;
  flex-direction: column;
  min-height: 100%;
  box-shadow: 16px 0px 52px 0px #0E185033;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: $color-white;
  z-index: 1000;
  overflow-y: scroll;
  scrollbar-width: none;

  @media(min-width: $screen-md) {
    transform: translateX(-100%);
  }
  @media (min-width: $screen-lg){
    transform: translateX(0);
    box-shadow: none;
    z-index: auto;
  }
  
  &.active {
    transform: translateX(0);
  }

  &__mobile-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: nowrap;
    list-style-type: none;
    padding-top: 20px;
    margin: 0;
    gap: 30px;
  }
  
  &__mobile-menu-link{
    text-decoration: none;
    color: $color-text;
    border: 4px solid $color-transparent;
    font-weight: 500;
    padding-left: 15px;
    flex-grow: 1;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    transition: color 0.3s ease;

    &:hover {
      border-left: 4px solid $color-primary;
      color: $color-light-text;
      padding-left: 15px;
    }
  }
}
