@use "../global/variables" as *;
@use "../global/base" as *;

        
.form-container {
    margin-left: auto;
    width: 320px;
    background-color: white;
    box-shadow: 16px 0px 52px 0px #0E185033;
    height: 100vh;
    padding: 24px 16px;
    overflow-y: scroll;
    scrollbar-width: none;

    @media (min-width: $screen-lg) {
        width: 320px;
        box-shadow: 16px 0px 52px 0px #0E185033;
        margin-left: auto;
    }
    
    &__header{
        padding: 15px;
        display: flex;
        justify-content: flex-end;
    }
    
    &__group {
        position: relative;
        padding: 7px 16px;
    }
    
    &__inform {
        font-family: $ff-medium;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        position: absolute;
        top: 20px;
        left: 30px;
        color: $color-pg-active;
        // pointer-events: none;
        // transition: all 0.2s;
    }
}

.form-container__text {
    font-size: 14px;
    padding: 16px;
    font-family: $ff-medium;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    color: $color-light-text;
    margin: 0;
    overflow-y: scroll;
    scrollbar-width: none;
    
    &--pink{
        color: $color-pink;
        font-family: $ff-medium;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0px;
    }
}

.form-container__button{
    display: flex;
    justify-content: end;
    padding: 20px 10px;
}
        
