@use "../global/variables" as *;

.round-icon {
  width: 40px;
  height: 40px;
  border: none;
  background-color: $color-transparent;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  
  &--burger { 
    background-image: url("/public/images/burger.svg"); 
  }

  &--repair { 
    background-image: url("/public/images/repair.svg");

    @media (min-width: $screen-lg) {
      vertical-align: middle;
      display: inline-block;
    }
  }
  
  &--checkstatus { 
    background-image: url("/public/images/checkstatus.svg");

    @media (min-width: $screen-lg) {
      vertical-align: middle;
      display: inline-block;
    }
  }

  &--menu { 
    background-image: url("/public/images/menu.svg"); 
  }

  &--search { 
    background-image: url("/public/images/search.svg"); 
  }

  &--call { 
    background-image: url("/public/images/call.svg"); 
  }

  &--chat { 
    background-image: url("/public/images/chat.svg"); 
  }

  &--profile { 
    background-image: url("/public/images/chat.svg"); 
  }
}
.button-close{
  background-image: url("/public/images/close.svg"); 
  
  @media (min-width: $screen-lg) {
    position: absolute;
    left: 1130px;
    top: 70px;
  }
}

 