@use "../global/variables" as *;
@use "../global/base" as *;

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 15px;
    background-color: $color-white;
    border-bottom: 1px solid $color-shadow;

    @media (min-width: $screen-lg) {
        display: none;
    }
    
    &__left-section{
        display: flex;
        align-items: center;
        gap: 15px;
        
        @media(min-width: $screen-md) {
            position: relative;
            gap: 40px;
            flex-grow: 1;
            
            &:after{
                content: "";
                left: 60px;
                top: 12px;
                position: absolute;
                width: 2px;
                height: 32px;
                background-color: $color-border;
            }
        }
    }
    
    &__mobile-hidden {
        display: none; 
        
        @media(min-width: $screen-md) {
            display: flex;
            gap: 15px;
        }
    }
    
    &__right-section{
        display: flex;
        align-items: center;
        gap: 15px;
        position: relative;
        
        &:before {
            content: "";
            left: -20px;
            top: 5px;
            position: absolute;
            width: 2px;
            height: 32px;
            background-color: $color-border;
        }
    }
}

.page-header__logo {
    width: 100px;
    height: 55px;
} 
