@use "../global/variables" as *;
@use "../global/base" as *;

.slider-text {
    display: none;

    @media(min-width: $screen-md) {
        display: inline-block;
        border: none;
        background-color: $color-transparent;
        font-family: $ff-medium, Arial, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        padding: 0 30px;
    }

    @media (min-width: $screen-lg){
        display: inline-block;
        border: none;
        background-color: $color-transparent;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        padding-left: 40px;
    }
    
    &:before {
        content: url("/public/images/icon.svg");
        display: inline-block;
        padding-right: 15px;
        vertical-align: middle;
    }
}

