@use "../global/variables" as *;
@use "../global/base" as *;

.slider-container{
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;

    &__mobile-hidden{
        width: 100%; 
        max-width: 1200px; 
        overflow: hidden;

        @media(min-width: $screen-md) {
            display: none;
        }

         @media(min-width: $screen-lg) {
            display: none;
        }
    }
}

.slider-container__service-cont {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

    }

.slider-container__service {
    background-color: $color-white;
    width: 260px;
    height: 220px;
    border-radius: 5%;
}
    
.slider-container__service-dt {
        padding: 10px;
}
    
.slider-container__service-dt--active {
            font-family: $ff-regular;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0px;
            color: $color-light-text;
            margin: 0;
            padding: 3px;
        }
        
.slider-container__service-dt--normal {
            font-family: $ff-regular;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.2px;
            margin: 0;
            padding: 3px;
        }
    
    



